nav.navbar{
    background-color: orange;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-logo-container{
    width: 35%;
  }
  .navbar-logo-container img{
    width: 60%;
    min-width: 100px;
  }
  @media(max-width:600px){
    .navbar-logo-container{
      width: 60%;
    }
  }
  
  .nav-item{
    margin: 0 1.5em;
  }
  a.nav-link{
    font-size: clamp(1.1em, 1.6vw, 2em);
    color: white;
  }
  a.nav-link:active{
    text-decoration: underline;
    font-weight: bold;
  }
  a.nav-link:hover{
    color: green;
  }
  
  button.navbar-toggler{
    border: none;
    padding: 0.05em 0.1em;
    border-radius: 2px;
  }
  button.navbar-toggler:focus{
    box-shadow: none;
    border: 1px solid;
  }
  
  .cart-icon{
    font-size: clamp(1.1em, 1.5vw, 2.5em);
    margin-right: 2em;
    cursor: pointer;
  }
  @media(max-width: 600px) {
    .cart-icon{
      margin-right: 0.5em;
    }
  }